@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  color: white;
  font-family: "Roboto", sans-serif;
}

.qodef-m-item {
  padding: 0 6px 5px;
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: -.05em;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #777;
}
